---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const albums = await getCollection('albums');
// console.log({albums})
---
<Layout>
  <div class="albums">
    {albums.map(album => (
      <div class="album">
        <a href={`albums/${album.id}`}>
          <img src="folder.png" alt={album.data.displayName} width="250" height="250" />
          <div class="display-name">{album.data.displayName}</div>
        </a>
      </div>
    ))}
  </div>
  <style>
    .albums {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, 250px);
      grid-template-rows: repeat(auto-fill, 250px);
      grid-gap: 3px;
      align-items: center;
      justify-items: center;
      justify-content: center;
      align-content: center;
    }
    .album a {
      color: black;
      display: flex;
      font-size: 1.25rem;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .album :hover {
      text-decoration: underline;
    }
    .display-name {
      position: absolute;
      max-width: 200px;
    }
  </style>
</Layout>