---
import Layout from '../../layouts/Layout.astro';

const tree = {
	['/']: {
		files: [],
		folders: {},
	}
};
const relativeBasePath = '../assets/';
const modules = import.meta.glob('../assets/**/*.jpg');
for (const path in modules) {	
	let currentFolder = tree['/'];
	const filePath = path.replace(relativeBasePath, '');
	const pathParts = filePath.split('/');
	console.log({pathParts})
	for (let i = 0; i < pathParts.length; i++) {
		if (i === (pathParts.length - 1)) {
			currentFolder.files.push(pathParts[i]);
		}
		else {
			if (!currentFolder.folders[pathParts[i]]) {
				currentFolder.folders[pathParts[i]] = {
					files: [],
					folders: {},
				};
				currentFolder = currentFolder.folders[pathParts[i]];
			}
		}
	}
}

export async function getStaticPaths() {
  return [
    {
      params: { album: "pr" },
      props: { folders: ["pr1", "pr2"], files: ["1.jpg"] },
    },
    {
      params: { album: "ar" },
      props: { folders: ["ar1", "ar2"], files: ["2.jpg"] },
    },
  ];
}

const { album } = Astro.params;
const { folders, files } = Astro.props;

---

<Layout>
  <h1>hello { album }</h1>
	<h2>folders</h2>
	<ul>
		{folders.map((folder) => <li>{folder}</li>)}
	</ul>
	<h2>files</h2>
	<ul>
		{files.map((file) => <li>{file}</li>)}
	</ul>
</Layout>