---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';


export async function getStaticPaths() {
  // const albums = await getCollection('albums');
  const photos = await getCollection('photos');
  const albums = {};
  photos.forEach(photo => {
    console.log(photo.data.album.id)
    if (!albums[photo.data.album.id]) {
      albums[photo.data.album.id] = [];
    }
    albums[photo.data.album.id].push(photo);
  });
  // console.log(albums)
	// const staticPaths = [
  //   {
  //     params: { id: "arizona" },
  //     // props: { albums: ["pr1", "pr2"], files: ["1.jpg"] },
  //   },
  //   {
  //     params: { id: "florida" },
  //     // props: { albums: ["ar1", "ar2"], files: ["2.jpg"] },
  //   },
  // ];
  const staticPaths = Object.keys(albums).map(album => {
    return {
      params: { id: album },
      props: { photos: albums[album] }
    }
  });
	console.log(staticPaths)
	return staticPaths;
}

const { id } = Astro.params;
const { photos } = Astro.props;

---
<Layout>
  <h1>{ id } album</h1>
  <h1>Photos</h1>
<ul>
  {photos.map(photo => (
    <li>{photo.id}</li>
  ))}
</ul>
</Layout>
